<div class="col-12">
  <div class="row">
    <div class="col-12">
      <div class="insta-main">
        <div class="insta-wrapper">
          <div class="insta-banner">
            <canvas width="1000" height="200"
              style="background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ');"></canvas>
          </div>
          <div class="insta-details">
            <div class="insta-dp">
              <canvas width="150" height="150" class="img"></canvas>
            </div>
            <div class="insta-name">
              <h2>Sanjay Shastri<span>Astrology</span><span></span></h2>
            </div>
            <!-- <div class="insta-followers-wrap">
              <div class="insta-follow">
                <h2>150<span>Followers</span></h2>
              </div>
              <div class="insta-follow">
                <h2>1000<span>Following</span></h2>
              </div>
            </div> -->
            <div class="insta-bio">
              <br>
              <br>
              <p>
                I am Acharya Sanjay Shastri, a knowledgeable and experienced Traditional Vedic Astrologer. I have been
                practicing in astrology form last 30 years. I did many cases solved in my life and I have many clients
                in India and abroad. All are satisfied with mine. My all predictions are based on accurate calculation
                with proper exergue and through exploration of pristine Vedic rules laid down by Maharishis of Indian
                Vedic astrology. I endow all astrological solutions for problems related to love, relationship,
                business, childless, marital problem, extra martial affairs, income problems, love back, and inter-caste
                marriage problems, janam kundli, prashan kundli. All are I solved in minimum time and you will see, it
                is really a miracles and You have not thought about such a life to change fastly and you get happiness
                and get rid of problem from. No time limit,full predictions,all problems remedies,Tips & solutions
                s In 2009 He Started Putra kamesti mahayagya . This yagya Describe in holy book Ramayan. In satyuga
                there was a king named Dasratha who had no children . Due to which he was very worried for which
                resolved organized " Putrakamesti Mahayagya" performed by Maharshi" shringri" by which they had 4 sons.
                The concept of this mahayagya same as Ramayana . Therefore those childless couples are called in this
                yagya or and as a result offerings of yagya children are obtained and everyone wished come true .🙏🙏
              </p>
            </div>
            <br>
            <div class="insta-button">
              <a routerLink="/AskForQuestion">Ask for Question</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>