@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
.modal {
  overflow-y: scroll;
}
.modal-header {
  border-bottom: 0px solid #dee2e6;
}
.close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  background: #d9534f;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  opacity: 1;
  line-height: 0;
  padding: 0;

 
}
.material-icons {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  position: absolute;
  left: 0;
  right: 0;
}

