<div style="text-align:center;font-weight: bold;">My Cart</div>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <table id="cart" *ngIf="product" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of product">
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2 hidden-xs "><img src={{item.img}} alt="..." class="card-img-top" /></div>
            <div class="col-sm-10">
              <h4 class="nomargin">{{item.name}}</h4>
              <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </td>
        <td data-th="Price">{{item.price}}</td>
        <td data-th="Quantity">
          <input type="number" class="form-control text-center" value="1">
        </td>
        <td data-th="Subtotal" class="text-center">1.99</td>
        <td class="actions" data-th="">
          <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
          <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o" (click)="btnDelete(item.id)"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
     
      <tr>
        <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
        <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
  </table>
  
  <div *ngIf="isEmpty">
    <br>
    <br>
    <br>
   
    <div class="col-12">
      <div class="row">
        <div class="col-0 col-md-4"></div>
        <div class="col-12 col-md-3" >
          <img class="img-responsive " style="  border-radius: 50%;width: 331px;" src="~/../../../assets/empty-cart.gif"  alt="User picture">
  
        </div>
        <div class="col-0 col-md-2"></div>
      </div>
      
      
    </div>
    <div class="col-12" style="text-align:center">
     
      <label style="color:red">YOUR CART IS EMPTY</label>
      
    </div >
    <br>
    <div style="text-align:center"><a routerLink="/product-list" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></div>
  </div>
  
</div>