<div class="footer" class="header-shadow" style="color: white;">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-top">
                <div class="row">
                    <div class="container mt-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-5">
                                <!-- <div style="text-align: center;">TESTIMONIAL</div>
                                <div class="card p-3 py-4" style="height: 405px;">
                                </div> -->
                            </div>
                            <div class="col-md-7">
                                <!-- <div style="text-align: center;">PROFILE</div>
                                <div class="card p-3 py-4">

                                    <div class="text-center"> <img src="{{imageSrc}}" width="100" style="height: 117px;"
                                            class="rounded-circle"> </div>
                                    <div class="text-center mt-3"> <span
                                            class="bg-secondary p-1 px-4 rounded text-white">Sanjay Shastri</span>
                                        <h5 class="mt-2 mb-0">
                                            <app-user-profile-rating></app-user-profile-rating>
                                        </h5> <span>UI/UX Designer</span>
                                        <div class="px-4 mt-1">
                                            <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. </p>
                                        </div>

                                        <ul class="social-list">
                                            <li>Follow us :-</li>
                                            <li><a href="https://www.facebook.com/profile.php?id=100080650452489"
                                                    class="bi-facebook" target="_blank"></a></li>
                                            <li><a href="https://twitter.com/PtSanjaySharm13?t=cK5lHO_qVx8YOvxe5TgMqQ&s=08"
                                                    class="bi-twitter" target="_blank"></a></li>
                                            <li><a href="https://instagram.com/pt.sanjay_shastri?igshid=YmMyMTA2M2Y="
                                                    class="bi-instagram" target="_blank"></a></li>

                                        </ul>
                                        <div class="buttons"> <button
                                                class="btn btn-outline-primary px-4">Message</button>
                                            <a href="tel:9756085518"> <button
                                                    class="btn btn-outline-primary px-4 ms-3 ">Call Now</button></a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <div class="footer_social right-side float-none-sm pt-sm-15 pb-sm-15 center-sm mt-sm-15">
                            <ul class="social-icon">
                                <li>
                                    <div class="title">Follow us on :</div>
                                </li>
                                <li><a class="btn btn-primary"  href="#" role="button"><i class="bi-facebook"></i></a>
                                </li>
                                <li><a title="Twitter" class="twitter" href="https://www.facebook.com/AstroYatra"><i
                                            class="bi-twitter"> </i></a></li>
                                <li><a title="Linkedin" class="linkedin"
                                        href="https://www.linkedin.com/in/astroyatra"><i class="bi-linkedin">
                                        </i></a></li>
                               
                                <li><a title="Pinterest" class="pinterest"
                                        href="https://www.youtube.com/user/astroyatra"><i class="bi-youtube">
                                        </i></a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
        <div class="footer-middle">
            <div class="row">
                <p style="padding:15px;">Disclaimer: There is no guarantees that every person using this service will
                    get their desired results for sure. Astrological results depend on a lot of factors and the results
                    may vary from person to person.</p>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 center-sm">
                <div class="copy-right">© copyright All Rights Reserved. </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="payment float-none-xs center-sm">
                    <div class="col-md-6 col-sm-6">
                        <a href="https://www.astroyatra.com/privacy-policy.php">Privacy Policy </a>
                        <a href="https://www.astroyatra.com/terms-conditions.php"> Terms &amp; Condition</a>
                        <link rel="stylesheet"
                            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
                        <a href="https://wa.me/+918077927676" class="float" target="_blank">
                            <i class="fa fa-whatsapp my-float"></i>
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>