<div class="page-wrapper chiller-theme ">
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Sanjay Astro</a>
        <div id="close-sidebar">
          <i class="bi-x-lg"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive " style="  border-radius: 50%;height: 68px;" src="{{imageSrc}}" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong>{{username}}</strong>
          </span>
          <span class="user-role">{{userrole}}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <!-- <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div> -->
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <!-- <li class="header-menu">
            <span>General</span>
          </li> -->
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-headphones"></i>
              <span>Astro Services</span>
              <!-- <span class="badge badge-pill badge-warning">New</span> -->
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Services 1
                    <span class="badge badge-pill badge-success">Pro</span>
                  </a>
                </li>
                <li>
                  <a href="#">Services 2</a>
                </li>
                <li>
                  <a href="#">Services 3</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Astro Shop</span>
              <!-- <span class="badge badge-pill badge-danger">3</span> -->
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Products

                  </a>
                </li>
                <li>
                  <a href="#">Orders</a>
                </li>
                <li>
                  <a href="#">Credit cart</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <!-- <a href="#">
              <i class="far fa-gem"></i>
              <span>Astrology Services</span>
            </a> -->
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">General</a>
                </li>
                <li>
                  <a href="#">Panels</a>
                </li>
                <li>
                  <a href="#">Tables</a>
                </li>
                <li>
                  <a href="#">Icons</a>
                </li>
                <li>
                  <a href="#">Forms</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-globe"></i>
              <span>Puja & Homams</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-globe"></i>
              <span>Horoscope</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
              </ul>
            </div>
          </li>
          <!-- <li class="header-menu">
            <span>Extra</span>
          </li> -->
          <li>
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Kundali</span>

            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Articles</span>
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li> -->
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="https://www.facebook.com/profile.php?id=100080650452489" target="_blank">
        <i class="fa fa-facebook"></i>
        <!-- <span class="badge badge-pill badge-warning notification">3</span> -->
      </a>
      <a href="https://instagram.com/pt.sanjay_shastri?igshid=YmMyMTA2M2Y=" target="_blank">
        <i class="fa fa-instagram"></i>
        <!-- <span class="badge badge-pill badge-success notification">7</span> -->
      </a>
      <a href="https://twitter.com/PtSanjaySharm13?t=cK5lHO_qVx8YOvxe5TgMqQ&s=08" target="_blank">
        <i class="fa fa-twitter"></i>
        <!-- <span class="badge-sonar"></span> -->
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->

  <main class="page-content">
    <!-- <div class="row">
      <div class="col-12
      "></div>
    </div> -->
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="container">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <i class="bi-justify"></i>
        </a>
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <app-modal-login-signup></app-modal-login-signup>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">

      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active"
            style="background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080')">
            <div class="carousel-caption">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080')">
            <div class="carousel-caption">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/lHGeqh3XhRY/1920x1080')">
            <div class="carousel-caption">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      <!-- Page Content -->
      <section class="py-5">
        <div class="container">
          <h1 class="fw-light">Half Page Image Slider</h1>
          <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images
            in this snippet are from <a href="https://unsplash.com">Unsplash</a>!</p>
      
        
        </div>
      </section>
    </div>
  </main>
  <!-- page-content" -->
</div>
<script type="text/javascript" src="//100widgets.com/js_data.php?id=204"></script>
<a href="https://wa.me/+918077927676" class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
</a>
<!-- page-wrapper -->